
.game-container {
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  width: 400px;}

.game-container .grid-container {
  padding: 40px;
  z-index: 1; }

.game-container .grid-row {
  margin-bottom: 15px; }

.game-container .grid-row:last-child {
  margin-bottom: 0; }

.game-container .grid-row:after {
  content: "";
  display: block;
  clear: both; }

.game-container .grid-cell {
  width: 90.25px;
  height: 90.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgb(238, 228, 218);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
  font-size: 72px; 
  font-weight: bolder;
  cursor: pointer; }

.game-container .grid-cell:last-child {
  margin-right: 0; }

.game-container .grid-row {
  margin-bottom: 10px; }

.game-container .grid-row:after {
  content: "";
  display: block; }

.game-container .winning{
  color: #006600; }

.game-container .error{
  color: #FF0000; }

.game-container .info{
  color: #006600; }

.game-container .restart {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; 
  float: right; }

